*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgb(34, 34, 34);
    height: 100vh;
}

.container{   
    height: 100%;
    position: relative;
    border: 5px solid rgb(14, 13, 13);
    border-radius: 10px;
    width: 30%;
    display: inline;
    justify-content: center;
}
.output_fields input{
    text-align: right;
    color: white;
    font-size: xxx-large;
    margin: auto;
    width: 100%;
    background-color: rgb(68, 68, 68);
    height: 180px;
    border-radius: 30px;
    border: none;

}

.additional_buttons {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.additional_buttons button{
margin: 15px;
}
.additional_buttons .buttonType3 {
    width: 15%;
    height: 85%;
    border-radius: 25px;
    background-color: rgb(34, 34, 34);
    border: none;
    transition: 0.5s;
    color: white;
    font-size: 30px;
}
.additional_buttons .buttonType4 {
    margin-right: 20px;
    width: 5.3%;
    height: 50%;
    background-color: rgb(44, 44, 44);
    border: none;
    border-radius: 25px;
    transition: 0.5s;
    text-align: center;
    font-size: 17px;
    color: white;
}

.buttonType3:hover, .buttonType4:hover{
    background-color: rgb(68, 68, 68);
}
.buttonType4:hover{
    border-radius: 10px;
}

.additional_buttons:has(.hiddenCheckbox:checked){
    background-color: rebeccapurple;
   
}

.buttons{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    background-color: rgb(34, 34, 34);
    justify-content: space-between;  
    justify-items: center;

}
.buttons button{
    margin-top: 10px;
    align-self: center;
    border-radius: 50px;
    font-size: xx-large;
    background-color: rgb(44, 44, 44);
    color: white;
    width: 110px;
    height: 110px;
    min-width: 10px;
    min-height: 10px;
    border: none;
    transition: 0.5s;
}  
.buttons .buttonType1{
    background: #fff; 
    color: black;
    transition: 0.5s;
}
.buttons .buttonType2{
    background-color: rgb(94, 93, 93);
    transition: 0.5s;
}

.buttons button:hover{
    border-radius: 30px;
}
.buttons .buttonType2:active , .buttonType0:active{
    background-color: rgb(99, 98, 98);
}